@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');

html{
  font-size: 32px;
  transition: font-size 0.3s ease;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Phudu', cursive;
}

#settings{
  margin-left: 1vw;
  font-size: 2em;
  font-weight: 900;
  background-color: transparent;
  border-style: none;
  color:var(--digit-color, black)
}

#refresh{
  margin-right: 1vw;
  font-size: 2em;
  background-color: transparent;
  border-style: none;
  color:var(--digit-color, black)
}

#refresh:hover{
  cursor: pointer;
}

#refresh:active{
  transform: scale(.95);
}

#settings:hover{
  cursor: pointer;
}

#settings:active{
  transform: scale(.95);
}

#options{
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

#content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto auto;
}

#oneDigit{
  font-size: 12rem;
  color:var(--digit-color, black)
}

#twoDigits{
  font-size: 11rem;
  color:var(--digit-color, black)
}

#threeDigits{
  font-size:9rem;
  color:var(--digit-color, black)
}

#fourDigits{
  font-size:8rem;
  color:var(--digit-color, black)
}

#fiveDigits{
  font-size:6.5rem;
  color:var(--digit-color, black)
}

#sixDigits{
  font-size:5.5rem;
  color:var(--digit-color, black)
}


#display:hover{
  cursor: default;
}

#increment{
  color:var(--digit-color, black);
  margin-right: 5vw;
  width:100px;
  font-size: 2.5rem;
  border-radius: 5em;
  transition: width 0.3s ease;
  font-weight: 900;
  border-style: solid;
  background-color: transparent;
  border-color:var(--border-color, black);
  border-width: 1.5px;
}

#increment:hover{
  border-color:var(--hover-color, rgb(92, 92, 92));
  transition: border-color 0.2s ease;
  cursor: pointer;
}

#decrement{
  color:var(--digit-color, black);
  margin-left: 5vw;
  text-align: center;
  width:100px;
  font-size: 2.5rem;
  font-weight: 900;
  border-radius: 5em;
  transition: width 0.3s ease;
  border-style: solid;
  background-color: transparent;
  border-color:var(--border-color, black);
  border-width: 1.5px;
}

#decrement:hover{
  border-color:var(--hover-color, rgb(92, 92, 92));
  transition: border-color 0.2s ease;
  cursor: pointer;
}

#body{
  background:var(--background-color, white);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#settingsModal{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.349);
  display: flex;
  justify-content: center;
  align-items: center;
}

#settingsContent{
  background-color: #ffffff;
  width: 400px;
  border-radius: 1em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

#settingsContent p{
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settingsContent button{
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 0.75em;
  padding:0.5vw 1vw;
  background-color: rgb(255, 255, 255);
  border-style: none;
  border-radius: 1em;
}

#settingsContent button:hover{
  cursor: pointer;
  background-color: rgb(248, 248, 248);
}

#setCount{
  width: 70px;
  margin-left: 10px;
  font-size: 0.8em;
}

#colors{
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color{
  border-radius: 10px;
  width: 42px;
  height: 45px;
  margin: 1vh 10px;
  transition: transform ease 0.3s;
}

.color:hover{
  cursor: pointer;
  transform: scale(1.15);
  transition: transform ease 0.3s;
}

#red{
  background-color: #c40a0a;
  border-style: solid;
  border-width: 0.5px;
  border-color: transparent;
}

#blue{
  background-color: #0d58d9;
  border-style: solid;
  border-width: 0.5px;
  border-color: transparent;
}

#green{
  background-color: #1cd660;
  border-style: solid;
  border-width: 0.5px;
  border-color: transparent;
}

#colorful{
  background-image: linear-gradient(to bottom,#f01f0c,#f0bb0c,#d9f00c,#41f00c,#0c32f0,#a80cf0,red);
  border-style: solid;
  border-width: 0.5px;
  border-color: transparent;
}

#purple{
  background-color: #6b0cf0;
  border-style: solid;
  border-width: 0.5px;
  border-color: transparent;
}

#white{
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
}

#lowBar{
  display: none;
}

@media (max-width: 800px) {
  html{
    font-size: 16px;
    transition: font-size 0.3s ease;
  }
  #settings{
    font-size: 4em;
  }
  #refresh{
    font-size: 4em;
  }
  #increment{
    width: 80px;
    font-size: 4rem;
    transition: width 0.3s ease;
  }
  #decrement{
    width:80px;
    font-size: 4rem;
    transition: width 0.3s ease;
  }
  #setCount{
    font-size: 1.2em;
    transition: font-size 0.3s ease;
  }
  #settingsContent p{
    font-size: 2em;
    transition: font-size 0.3s ease;
  }
  #settingsContent{
    border-radius: 2em;
    transition: border-radius 0.3s ease;
  }
  #settingsContent button{
    font-size: 1.5em;
    transition: font-size 0.3s ease;
  }
  #sixDigits{
    font-size: 7rem;
  }
}

@media (max-width: 675px) {
  #settingsContent {
    width: 300px;
    border-radius: 1em;
  }
  #settingsContent p{
    margin-top: 1vh;
  }
  .color{
    width: 60px;
    height: 60px;
    border-radius: 6px;
  }
  #setCount{
    width:50px;
  }
  #sixDigits{
    font-size: 5rem;
  }
  #increment{
    display: none;
  }
  #decrement{
    display: none;
  }
  #content{
    justify-content: center;
  }
  #lowBar{
    width: 100%;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
  }
  #lowBarIncrement{
    color:var(--digit-color,rgb(0, 0, 0));
    margin-right: 5vw;
    width: 70px;
    background-color: transparent;
    font-size: 3.5rem;
    border-radius: 5em;
    border-style: solid;
    border-color: var(--border-color,rgb(0, 0, 0));
    border-width: 1.5px;
  }
  #lowBarIncrement:hover{
    border-color: var(--hover-color,rgb(92, 92, 92));
    transition: border-color 0.2s ease;
    cursor: pointer;
  }
  #lowBarDecrement{
    color:var(--digit-color,rgb(0, 0, 0));
    background-color: transparent;
    margin-left: 5vw;
    width: 70px;
    font-size: 3.5rem;
    border-radius: 5em;
    border-style: solid;
    border-color: var(--border-color,rgb(0, 0, 0));
    border-width: 1.5px;
  }
  #lowBarDecrement:hover{
    border-color: var(--hover-color,rgb(92, 92, 92));
    transition: border-color 0.2s ease;
    cursor: pointer;
  }
}

@media (min-width: 2000px){
  #refresh{
    font-size: 4em;
  }
  #settings{
    font-size: 4em;
  }
  #increment{
    font-size: 4.5rem;
    width:180px;
  }
  #decrement{
    font-size: 4.5rem;
    width:180px;
  }
  #settingsContent {
    width: 500px;
    border-radius: 1em;
  }
  #settingsContent p{
    margin-top: 2vh;
    font-size: 1.5rem;
  }
  .color{
    width: 110px;
    height: 110px;
    border-radius: 6px;
  }
  #setCount{
    width:50px;
  }
  #settingsContent button{
    font-size: 1.5rem;
  }
}